<!DOCTYPE html>
<html>

<head>

  <link href="/css/application.css" rel="stylesheet">

  <script src="https://www.google.com/jsapi"></script>
  <script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="/javascripts/support.js"></script>
  <script src="/javascripts/application.js"></script>

  <title>Motivational Posters</title>

</head>

<body>

  <header>
    <h1>Motivational Posters</h1>
  </header>

  <section id="select-image">
    <h2>Step 1. Select an image</h2>
    <p>Enter the keyword to search for images</p>
    <form id="search-form">
      <input id="search-term" type="text">
      <input id="submit-search" type="submit" value="Go!">
    </form>
    <div id="search-results"></div>
    <div id="google-branding"></div>
  </section>

  <section id="add-text">
    <h2>Step 2. Add text</h2>
    <input id="caption-text" type="text" value="Curiosity is one of the great secrets of happiness">
  </section>

  <section id="style-caption">
    <h2>Step 3. Style it!</h2>
    <div id="workspace">
      <p id="caption"></p>
    </div>
  </section>

</body>

</html>
