body {
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  color: #fccdd3;
  margin: 0;
  padding: 0;
}

header {
  padding: 15px;
  background-color: #6534ff;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.center-wrapper {
  max-width: 600px;
  margin: 0 auto;
  align-self: center;
}

header h1 {
  text-transform: uppercase;
  color: #62bcfa;
}

header strong {
  font-size: 2em;
  color: #fccdd3;
}

.scroll {
  margin-top: 50px;
}

section {
  height: 50vh;
  display: flex;
  justify-content: center;
}

#select-image {
  background-color: #62bcfa;
  padding: 10px;
  box-shadow: 1px 0 3px rgba(0,0,0, 0.3);
}

#add-text {
  background-color: #6534ff;
  padding: 10px;
  align-self: center;
}

#caption-text {
  width: 600px;
  text-align: center;
}

input {
  font-size: 16px;
  margin-bottom: 20px;
}

#style-caption {
  height: 100vh;
  background-color: #6534ff;
  padding: 10px;
  box-shadow: 1px 0 3px rgba(0,0,0, 0.3);
}

#workspace {
  position: relative;
  width: 600px;
  height: 300px;
  border: 3px dashed #fccdd3;
  margin: 0 auto;
  background-color: #ffffff;
}

#workspace img {
  width: 600px;
  height: 300px;
}

#caption-controls {
  padding: 10px;
  font-size: 14px;
}

#caption-controls input[type="number"] {
  width: 50px;
}

#caption {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  width: 400px;
  font-size: 32px;
  color: red;
  margin: 0;
}

footer {
  background-color: #62bcfa;
  padding: 10px;
  text-align: left;
  font-size: 12px;
  box-shadow: -1px 0 5px rgba(0,0,0, 0.3);
  font-family: 'PT Sans', sans-serif;
}

#footer {
  margin: 0 auto;
  width: 800px;
}

footer img {
  float: left;
  margin-right: 40px;
  width: 240px;
}

footer div {
  margin: 10px 0;
}
